<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>HomePage</h1>
    <p>Total Books: {{num_books}}</p> <!--{{num_books}} comes from context-->
    <p>Num Available: {{num_copies_available}}</p>
    <a href="{% url 'book_list'%}">List of Books</a>
    <div>
        <a href="{% url 'create_book'%}">Create Book</a>
    </div>
    
</body>
</html>